<div class="header" >
  <a class="menu_back" ng-if="!android" href="app:index"></a>
  <a class="menu_back" ng-if="android" href="#/index"></a>
  <h2>新手指引</h2>
</div>
<div class="guide pt45">
	<dl>
		<dt>【实盘炒股】</dt>
		<dd><a href="#/guidetail/5">什么是实盘炒股</a></dd>
		<dd><a href="#/guidetail/6">免费体验规则</a></dd>
		<dd><a href="#/guidetail/7">T+1/T+D实盘规则</a></dd>
		<dt>【常见问题】</dt>
		<dd><a href="#/guidetail/1">操盘问题</a></dd>
		<dd><a href="#/guidetail/2">充值问题</a></dd>
		<dd><a href="#/guidetail/3">提款问题</a></dd>
		<dd><a href="#/guidetail/4">其他问题</a></dd>
	</dl>
	<div class="infoUsername infoVerifyTip2">
	  <div class="l0"><label>客服热线</label><a href="tel:4008880872">400-888-0872</a><a href="tel:4008880872">拨打</a></div>
	  <div class="l0"><label>客服QQ</label><a>2253433703</a></div>
	</div>
</div>
<loading ng-if='loading'></loading>
