<div class="header" >
	<a href="#guide" class="menu_left">新手</a>
	<h2>{{title}}</h2>
	<a href="#search" class="search_open"></a>
</div>
<div id="banners" class="banners1">
	<ul id="banner" class="banner1" ontouchstart="touch.touchStart(event)" ontouchmove="touch.touchMove(event);" ontouchend="touch.touchEnd();">
		<li ng-repeat="i in banners"><a ng-href="{{i.picLink}}"><img ng-src="{{i.picUrl}}" alt=""/></a></li>
	</ul>
	<p><i ng-repeat="i in banners"></i></p>
</div>
<div class="indexTop">
	<div ng-repeat="i in selfNav" class="{{i.waveRatio | toUpDown}}" ng-click="stock2($index)">
		<h2>{{i.stockName}}</h2>
		<p>{{i.lastPrize}}<i></i></p>
		<span>{{i.wave | addPlus}}({{i.waveRatio}}%)</span>
	</div>
</div>
<div class="indexNav">
	<a ng-href="#/news"><div><b>资讯</b></div></a>
	<a ng-href="#/notice"><div><b>公告</b></div></a>
	<a ng-href="#/event"><div><b>活动</b></div></a>
</div>
<dl class="indexList">
	<dt>投资参考 <a href="#/investment">更多&gt;</a></dt>
	<dd ng-repeat="i in introduces">
		<a ng-href="#/investmentDetail/{{i.id}}">{{i.title}}</a>
	</dd>
</dl>
<div class="appdown" ng-show="appDownBtn">
	<a href="/download">下载客户端</a>
	<i ng-click="closeAppDown()"></i>
</div>
<nav class="mainNav">
	<a href="#/index" class="index cur" ng-if="navIndex">首页</a>
	<a href="#/index" class="index" ng-if="!navIndex">首页</a>
	<a href="#/exchange" class="exchange cur" ng-if="navExchange">交易</a>
	<a href="#/exchange" class="exchange" ng-if="!navExchange">交易</a>
	<a href="#/self" class="fave cur" ng-if="navFave">自选</a>
	<a href="#/self" class="fave" ng-if="!navFave">自选</a>
	<a href="#/home" class="home cur" ng-if="navHome">我的</a>
	<a href="#/home" class="home" ng-if="!navHome">我的</a>
</nav>
<loading ng-if='loading'></loading>
<mydialog ng-if='openDialog' txt='{{dialog.txt}}' suretxt='{{dialog.suretxt}}' cancaltxt='{{dialog.cancaltxt}}' sure='dialog.sure()' cancel='dialog.cancel()'></mydialog>