<div class="header" ng-if="btn">
  <a class="menu_back" href="#/index"></a>
  <h2>新手指引</h2>
</div>
<div class="newmember pt45" ng-if="btn"></div>
<div class="newmember">
	<img ng-src="http://res2.cp2y.com/h5/stock/guideimages/0.png" />
	<img ng-src="http://res2.cp2y.com/h5/stock/guideimages/1.png" />
	<img ng-src="http://res2.cp2y.com/h5/stock/guideimages/2.png" />
	<img ng-src="http://res2.cp2y.com/h5/stock/guideimages/3.png" />
	<img ng-src="http://res2.cp2y.com/h5/stock/guideimages/4.png" />
	<img ng-src="http://res2.cp2y.com/h5/stock/guideimages/5.png" />
	<a href="#/buystock" class="btn" ng-if="btn">立即体验</a>
	<a href="app:buystock" class="btn" ng-if="!btn">立即体验</a>
</div>