<div ng-if="show">
  <div ng-show="!getChinaBranch">
    <div class="header" >
      <a class="menu_back" ng-click="lastStep()"></a>
      <h2>添加银行卡</h2>
    </div>
    <div class="pt45 infoUsername">
      <p class="infoTip">请添加持卡人本人的银行卡</p>
      <div class="l3"><label>开户行</label>
        <div>
          <span class="w1">
            {{o.bank}}
            <select ng-model="o.bank">
              <option ng-repeat="i in banks" value="{{i}}">{{i}}</option>
            </select>
          </span>
        </div>
      </div>
      <div class="l3"><label>卡号</label>
        <div><input type="tel" ng-model="o.bankAccount"  maxlength="20"/></div>
      </div>
      <div class="l3"><label>开户地</label>
        <div>
          <span class="w2">
            {{o.province}}
            <select ng-model="o.province" ng-change="setCitys()">
              <option ng-repeat="i in provinces" value="{{i}}">{{i}}</option>
            </select>
          </span>
          <span class="w2">
            {{o.city}}
            <select ng-model="o.city" ng-change="resetBranch()">
              <option ng-repeat="i in citys" value="{{i}}">{{i}}</option>
            </select>
          </span>
        </div>
      </div>
      <div class="l3"><label>支行</label>
        <div ng-click='openChinaBranch()'><span class="w1">{{o.branche}}</span></div>
      </div>
      <div ng-if="bindingIdentify" class="l3"><label>持卡人</label>
        <p>{{o.name}}</p>
      </div>
      <div ng-if="bindingIdentify" class="l3"><label>身份证</label>
        <p>{{o.identityNumber}}</p>
      </div>
      <a class="btn2" ng-click="done()">完成</a>
    </div>
  </div>
  <div ng-show="getChinaBranch" class="getChinaBranch">
    <div class="header" >
      <a class="menu_back" ng-click="back()"></a>
      <h2>选择支行</h2>
    </div>
    <div class="searchBar">
      <input ng-model="s.keyword" ng-change="search()" class="" />
    </div>
    <ul class="ChinaBranch">
      <li ng-repeat="i in ChinaBranchs" ng-click="setChinaBranch({{$index}})">{{i}}</li>
    </ul>
  </div>
  <loading ng-if='loading'></loading>
  <mydialog ng-if='openDialog' txt='{{dialog.txt}}' suretxt='{{dialog.suretxt}}' cancaltxt='{{dialog.cancaltxt}}' sure='dialog.sure()' cancel='dialog.cancel()'></mydialog>
</div>