<div ng-if="show">
  <div class="header" >
    <a class="menu_back" href="#/info"></a>
    <h2>实名认证</h2>
  </div>
  <div class="pt45 infoUsername" ng-if="bind">
    <p class="infoTip">你已绑定身份证信息</p>
    <div class="infoTip">{{o.name}}</div>
    <div class="infoTip">{{o.identify}}</div>
  </div>
  <div class="pt45 infoUsername" ng-if="!bind">
    <p class="infoTip">请输入你的身份证信息</p>
    <div class="l0"><textinput dplaceholder="请输入真实姓名" dclass="" model="o.name" clear="clear1()" ck=""></textinput></div>
    <div class="l0"><textinput dplaceholder="请输入身份证号" dclass="" model="o.identity" clear="clear2()" ck=""></textinput></div>
    <a class="btn2" ng-click="done()">完成</a>
  </div>
  <div class="infoVerifyTip">
    <p>温馨提示：</p>
    <p>1、为了您的资金安全，请先完成实名认证</p>
    <p>2、每个账户限制进行3次实名认证，请填写正确的姓名和身份证号</p>
    <p>3、如果您3次验证皆未通过，请通过以下方式联系客服人员</p>
  </div>
  <div class="infoUsername infoVerifyTip2">
    <div class="l0"><label>客服热线</label><a href="tel:4008880872">400-888-0872</a><a href="tel:4008880872">拨打</a></div>
    <div class="l0"><label>客服QQ</label><a>2253433703</a></div>
  </div>
  <loading ng-if='loading'></loading>
  <mydialog ng-if='openDialog' txt='{{dialog.txt}}' suretxt='{{dialog.suretxt}}' cancaltxt='{{dialog.cancaltxt}}' sure='dialog.sure()' cancel='dialog.cancel()'></mydialog>
</div>