<div ng-if="show">
  <div class="header" >
    <a class="menu_back" href="#/info"></a>
    <h2>修改密码</h2>
  </div>
  <div class="pt45 infoUsername">
    <p class="infoTip">修改登录/支付密码需要验证您当前的密码</p>
    <div class="l0">
      <passwordinput dplaceholder="输入旧密码" dclass="" model="o.password" clear="clear1()" ck=""></passwordinput>
    </div>
    <p class="infoTip"></p>
    <div class="l0">
      <passwordinput dplaceholder="输入新密码" dclass="" model="o.password1" clear="clear2()" ck=""></passwordinput>
    </div>
    <div class="l0">
      <passwordinput dplaceholder="确认新密码" dclass="" model="o.password2" clear="clear3()" ck=""></passwordinput>
    </div>
    <a class="btn2" ng-click="done()">完成</a>
  </div>
  <loading ng-if='loading'></loading>
  <mydialog ng-if='openDialog' txt='{{dialog.txt}}' suretxt='{{dialog.suretxt}}' cancaltxt='{{dialog.cancaltxt}}' sure='dialog.sure()' cancel='dialog.cancel()'></mydialog>
</div>