<div ng-if="show">
<div class="header" >
	<h2>交易</h2>
	<a href="#/rula" class="menu_right">规则</a>
</div>
<div class="exchangeContain">
	<!-- <nav class="exchangeNav">
		<a class="n1" href="#/exchange">下单</a>
		<a class="n2 nc1">订单<i ng-if="count">{{count}}</i></a>
	</nav> -->
	<div class="exchangeNav_0">
		<div class="exchangeNav_1">
			<b>浮动总盈亏</b>
			<p class="{{d.totalIncomeBalance|toUpDown}}">{{d.totalIncomeBalance}}</p>
		</div>
		<div class="exchangeNav_2">
			<p><label>股票账户</label><span>{{d.totalAssetBalance}}</span></p>
			<p><label>可用资金</label><span>{{d.totalEnableBalance}}</span></p>
			<p><label>股票市值</label><span>{{d.totalMarketValue}}</span></p>
		</div>
	</div>
	<div class="myFinancesList">
		<ul>
			<li ng-repeat="i in lists" class="s{{i.status}}">
				<p ng-click='showdetail($index)'><b>{{i.name}}</b><span>{{i.balance|to10thousand}}</span></p>
				<section>
					<span ng-click='showdetail($index)'><em>股票</em><b>{{i.stockCounts}}支</b></span>
					<span ng-click='showdetail($index)'><em>可用</em><b>{{i.enableBalance}}</b></span>
					<span ng-click='showdetail($index)'><em>截至</em><b>{{i.endTime | date:'MM-dd'}}</b></span>
					<span ng-if='i.status==1'>
						<article ng-click='showdetail($index)'>
							<em>总盈亏</em><b class="{{i.incomeBalance|toUpDown}}">{{i.incomeBalance}}</b>
						</article>
						<!-- <article ng-if='i.deposit+i.balance == i.enableBalance' class="myFinancesBtn">
							<a ng-href="#/buy/{{i.id}}">买入</a>
							<a ng-click="detail($index)">详情</a>
						</article>
						<article ng-if='i.deposit+i.balance != i.enableBalance' ng-click='showdetail($index)'>
							<em>总盈亏</em><b class="{{i.incomeBalance|toUpDown}}">{{i.incomeBalance}}</b>
						</article> -->
					</span>
					<span ng-if='i.status!=1'>
						<article class="yellow"  ng-if="i.status==2" ng-click='showdetail($index)'>
							<em>到达</em>
							<b>风险线</b>
						</article>
						<article class="red"  ng-if="i.status==3" ng-click='showdetail($index)'>
							<em>到达</em>
							<b>平仓线</b>
						</article>
						<article  ng-if="i.status==4" ng-click='showdetail($index)'>
							<em>到期终止</em>
							<b>清算中</b>
						</article>
						<article  ng-if="i.status==5" ng-click='showdetail($index)'>
							<em>手动结束</em>
							<b>清算中</b>
						</article>
					</span>
				</section>
				<i>实盘{{$index+1}}</i>
			</li>
		</ul>
		<p class="myFinancesMore" ng-if="lists.length == 0">暂无实盘内容，<a href="#/buystock">我要炒股</a></p>
	</div>
	<a href="#/history" class="goHistory">查看历史订单</a>
</div>
</div>
<nav class="mainNav">
	<a href="#/index" class="index cur" ng-if="navIndex">首页</a>
	<a href="#/index" class="index" ng-if="!navIndex">首页</a>
	<a href="#/myFinances" class="exchange cur" ng-if="navExchange">交易</a>
	<a href="#/myFinances" class="exchange" ng-if="!navExchange">交易</a>
	<a href="#/self" class="fave cur" ng-if="navFave">自选</a>
	<a href="#/self" class="fave" ng-if="!navFave">自选</a>
	<a href="#/home" class="home cur" ng-if="navHome">我的</a>
	<a href="#/home" class="home" ng-if="!navHome">我的</a>
</nav>
<loading ng-if='loading'></loading>
<mydialog ng-if='openDialog' title='{{dialog.title}}' txt='{{dialog.txt}}' suretxt='{{dialog.suretxt}}' cancaltxt='{{dialog.cancaltxt}}' sure='dialog.sure()' cancel='dialog.cancel()'></mydialog>