<div ng-if="show">
	<div class="header" >
		<a id="es1B" class="menu_back" ng-click="back()"></a>
		<a id="es2B" style="display:none" class="menu_back" ng-click="s1()"></a>
		<h2>充值</h2>
	</div>
	<div class="pt45 rechargre" id="es1">
		<p class="tip">您的账户余额为<span>{{balance}}元</span></p>
		<div class="line1">
			<p><a ng-click="set(100)" ng-if="o.money==100" class="on">100</a>
			<a ng-click="set(100)" ng-if="o.money!=100" class="">100</a></p>
			<p><a ng-click="set(500)" ng-if="o.money==500" class="on">500</a>
			<a ng-click="set(500)" ng-if="o.money!=500" class="">500</a></p>
			<p><a ng-click="set(1000)" ng-if="o.money==1000" class="on">1000</a>
			<a ng-click="set(1000)" ng-if="o.money!=1000" class="">1000</a></p>
			<p><a ng-click="set(5000)" ng-if="o.money==5000" class="on">5000</a>
			<a ng-click="set(5000)" ng-if="o.money!=5000" class="">5000</a></p>
		</div>
		<div class="line2">
			<b>手动输入</b>
			<div>
				<numberinput dlen="5" dclass="" dplaceholder="请输入充值金额" model="o.money" clear="o2.clear" ck="o2.ck"></numberinput>
			</div>
			<p>元</p>
		</div>
		<div class="line3"><a class="btn6" ng-click="recharge()">充值</a></div>
	</div>
	<div class="pt45 rechargre" id="es2" style="display:none">
		<form action="https://tgw.baofoo.com/paycerwap" method="post" id="form">
			<!-- <input type="hidden" name="orderNo" id="orderNo" value="" /> -->
			<input type="hidden" name="signature" id="signature" />
			<input type="hidden" name="interfaceVersion" value="4.0" />
			<input type="hidden" name="requestType" value="1" />
			<input type="hidden" name="keyType" value="1" />
			
			<input type="hidden" name="PayID" id="payId" value=""/>
			<input type="hidden" name="MemberID" id="memberID" ng-model="d.MemberID" />
			<input type="hidden" name="TerminalID" id="terminalID" ng-model="d.TerminalID" />
			<input type="hidden" name="TradeDate" id="tradeDate" ng-model="d.tradeDate" />
			<input type="hidden" name="OrderMoney" id="orderMoney" ng-model="d.OrderMoney" />
			<input type="hidden" name="TransID" id="transId" ng-model="d.TransID" />
			<input type="hidden" name="ReturnUrl" id="returnUrl" ng-model="d.ReturnUrl" />
			<input type="hidden" name="PageUrl" id="pageUrl" ng-model="d.PageUrl" />
			<input type="hidden" name="productName" id="productName" ng-model="d.productName" />
			<input type="hidden" name="amount" id="amount" ng-model="d.amount" />
			<input type="hidden" name="NoticeType" id="noticeType" ng-model="d.NoticeType" />
			<input type="hidden" name="key" id="key" ng-model="d.key" />
			<div class="line3"><a class="btn6" ng-click="btnOk()">确定充值</a></div>
		</form>
	</div>
</div>
<loading ng-if='loading'></loading>
<mydialog ng-if='openDialog' txt='{{dialog.txt}}' suretxt='{{dialog.suretxt}}' cancaltxt='{{dialog.cancaltxt}}' sure='dialog.sure()' cancel='dialog.cancel()'></mydialog>