<div ng-if="show">
	<div class="header" >
		<a id="es1B" class="menu_back" ng-click="back()"></a>
		<a id="es2B" style="display:none" class="menu_back" ng-click="s1()"></a>
		<h2>充值</h2>
	</div>
	<div class="pt45 rechargre" id="es1">
		<p class="tip">您的账户余额为<span>{{balance}}元</span></p>
		<div class="line1">
			<p><a ng-click="set(100)" ng-if="o.money==100" class="on">100</a>
			<a ng-click="set(100)" ng-if="o.money!=100" class="">100</a></p>
			<p><a ng-click="set(500)" ng-if="o.money==500" class="on">500</a>
			<a ng-click="set(500)" ng-if="o.money!=500" class="">500</a></p>
			<p><a ng-click="set(1000)" ng-if="o.money==1000" class="on">1000</a>
			<a ng-click="set(1000)" ng-if="o.money!=1000" class="">1000</a></p>
			<p><a ng-click="set(5000)" ng-if="o.money==5000" class="on">5000</a>
			<a ng-click="set(5000)" ng-if="o.money!=5000" class="">5000</a></p>
		</div>
		<div class="line2">
			<b>手动输入</b>
			<div>
				<numberinput dlen="5" dclass="" dplaceholder="请输入充值金额" model="o.money" clear="o2.clear" ck="o2.ck"></numberinput>
			</div>
			<p>元</p>
		</div>
		<div class="line2">
			<b>付款方式</b>
			<div ng-if="z.hasBank" class="selectBank" ng-click="toggleBankList()">{{z.initBank}}</div>
			<div ng-if="!z.hasBank" class="addBank">添加银行卡</div>
			<ul ng-show="z.showBankList" id="showBankList">
				<li ng-repeat="i in z.banks" ng-click="setBankCard({{$index}})">{{i.bankName}}({{i.cardNo|last4}})</li>
				<li ng-click="addBankCard()">添加银行卡</li>
			</ul>
		</div>
		<div class="line3"><a class="btn6" ng-click="recharge()">充值</a></div>
	</div>
	<div class="pt45 rechargre" id="es2" style="display:none">
	<form method="get" id="form" >
		<input type="hidden" id="version" name="version" value=""/>
		<input type="hidden" id="language" name="language" value=""/>
		<input type="hidden" id="input_charset" name="input_charset" value=""/>
		<input type="hidden" id="txn_type" name="txn_type" value=""/>
		<input type="hidden" id="data_type" name="data_type" value="json" />
		<input type="hidden" id="member_id" name="member_id" value=""/>
		<input type="hidden" id="terminal_id" name="terminal_id" value=""/>
		<input type="hidden" id="back_url" name="back_url" value="" />
		<input type="hidden" id="txn_sub_type" name="txn_sub_type" value=""/>
		<textarea name="data_content" id="data_content" class="dataMi" ></textarea>
		<div class="line3"><a class="btn6" ng-click="btnOk()">确定充值</a></div>
	</form>
	</div>
</div>
<loading ng-if='loading'></loading>
<mydialog ng-if='openDialog' txt='{{dialog.txt}}' suretxt='{{dialog.suretxt}}' cancaltxt='{{dialog.cancaltxt}}' sure='dialog.sure()' cancel='dialog.cancel()'></mydialog>