<div class="header" >
	<a class="menu_left" href="#/index">取消</a>
	<h2>登录</h2>
</div>
<div class="sign">
	<div class="line1">
		<textinput dplaceholder="请输入用户名/手机号" dclass="user input1 input0" model="data.userName" clear="clearusername()" ck="check()"></textinput>
	</div>
	<div class="line1">
	  <passwordinput dplaceholder="请输入密码" dclass="password input1 input0" model="data.password" clear="clearpassword()" ck="check()"></passwordinput>
	</div>
	<div class="line2 mt15">
		<a class="btn0 {{ck}}" ng-click="signIn()">登录</a>
		<p class="tip"><a href="#/signUp">注册账号</a><a href="#/password">忘记密码</a></p>
	</div>
</div>
<loading ng-if='loading'></loading>
<mydialog ng-if='openDialog' txt='{{dialog.txt}}' suretxt='{{dialog.suretxt}}' cancaltxt='{{dialog.cancaltxt}}' sure='dialog.sure()' cancel='dialog.cancel()'></mydialog>